---
export interface Props {
	imgUrl: string;
	imgAlt?: string;
	title: string;
	bgColour: string;
}

const { imgUrl, title, imgAlt, bgColour } = Astro.props;
---

<div
	class={`${bgColour} p-5 rounded-2xl relative overflow-hidden duration-300 col-span-2 lg:col-span-1`}
>
	<span class={`${bgColour} rounded-md pr-2 z-10 relative font-bold`}
		>{title}
	</span>
	<img
		class="absolute -bottom-4 -right-[3rem] sm:right-[0px] scale-75 md:scale-100 z-0"
		src={imgUrl}
		alt={imgAlt}
	/>
</div>
